<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="rigister.css">
  <title>Trang đăng nhập, đăng kí</title>
</head>
<body>
<div class="container mb-4 mt-4 d-flex flex-column justify-content-center">
  <div class="row register-contact">
    <div class="col-lg-5 info-contact text-white d-flex flex-column justify-content-center gap-4 p-4">
      <div class="d-flex flex-column justify-content-semibold h-100">
        <div>
          <h3>Đăng ký tài khoản cá nhân!</h3>
          <p>Vì mục đích tuân thủ các quy định của ngành, chúng tôi cần thông tin chi tiết của bạn.</p>
        </div>
        <span class="mt-auto">
          Bạn đã có tài khoản?
          <a style="color: rgb(170, 220, 61)" href="/login">Nhấn vào đây để đăng nhập</a>
        </span>
      </div>
    </div>

    <div class="col-lg-7 p-3">
      <div class="register-form">
        <form action="/register" method="POST">
          <div class="form-group mb-3">
            <label for="name" class="form-label">Tên của bạn</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên tại đây" required />
          </div>
          <div class="form-group mb-3">
            <label for="email" class="form-label">Nhập email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email tại đây" required />
          </div>
          <div class="form-group mb-3">
            <label for="pwd" class="form-label">Tạo mật khẩu:</label>
            <input type="password" class="form-control" id="pwd" name="password" required />
          </div>
          <div class="form-group mb-3">
            <label for="confirm-pwd" class="form-label">Xác nhận mật khẩu:</label>
            <input type="password" class="form-control" id="confirm-pwd" name="confirm_password" required />
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="terms" required />
            <label class="form-check-label" for="terms">Tôi đồng ý với các điều khoản và điều kiện.</label>
          </div>
          <div class="d-flex flex-column justify-content-center m-2 gap-3">
            <button type="submit" class="btn btn-danger">Đăng ký tài khoản</button>
            <a href="/auth/google" class="btn btn-light" style="border: 1px solid #ccc">Đăng ký với Google</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
