<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="menu">
      <ul class="navbar-nav align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/services">Dịch vụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Đối tác</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">Về chúng tôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contact">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-pill text-white btn-register" href="/register">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-pill text-white btn-login" href="/login">Đăng nhập</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
